@page
@model AllHotelsModel
@{
}
<div>
    <h1>All Hotels</h1>
    <!--This is where we will put all of the hotels for the assignment. It will pull a picture of the hotel, the name of the hotel and a description.-->
</div>