@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div>
        <a class="btn btn-primary" asp-page="/Hotel/AllHotels" role="button">View Hotels</a>
        <a class="btn btn-primary" asp-page="/Loyalty/Loyalty" role="button">View Loyalty</a>
        <a class="btn btn-primary" asp-page="/CheckIn/CheckInMiddle" role="button">Check In</a>
    </div>