@page
@model HotelSystem.Pages.Hotel.Reservation.ReservationConfirmationModel
@{
    ViewData["Title"] = "ReservationConfirmation";
}

<h2>ReservationConfirmation</h2>

<p>Your reservation has been made for THESE DATES</p>